<!DOCTYPE html>
<html>
<head>
  <title>XmfunWebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= current = current_user(session[:user_id]) %>
<%= react_component('NavigationBar',
                    {rootUrl: root_url,
                     signinPath: signin_path,
                     signoutPath: signout_path,
                     userId: session[:user_id] || -1,
                     userImgUrl: current ? current.img_url : ''},
                    {prerender: true}) %>
<br/>
<br/>
<%= yield %>

</body>
</html>
